@import "tailwindcss";

@layer base {
  /* 1. Liaison des utilitaires Tailwind aux variables CSS réactives */
  /* 2. Définition des valeurs pour le mode Clair */
  :root {
    --background: #ffffff; /* Zinc-50 */
    --foreground: #09090b; /* Zinc-950 */
    --card: #ffffff;
    --card-foreground: #09090b;
    --primary: #18181b; /* Zinc-900 */
    --primary-foreground: #fafafa;
    --border: #e4e4e7; /* Zinc-200 */
    --input: #e4e4e7;
    --ring: #18181b;
    --radius: 0.75rem;
  }

  /* 3. Définition des valeurs pour le mode Sombre */
  /* next-themes applique la classe .dark à l'élément html */
  .dark {
    --background: #09090b;
    --foreground: #fafafa;
    --card: #09090b;
    --card-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #18181b;
    --border: #27272a; /* Zinc-800 */
    --input: #27272a;
    --ring: #d4d4d8;
  }
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}